@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  /* Color palette variables */
  /* --primary-dark: #626F47;      
  --primary-medium: #A4B465;    
  --primary-yellow: #FFCF50;    
  --primary-cream: #FEFAE0;      */

   --primary-dark: #1A1A1A;      /* Hitam */
  --primary-medium: #3A5A92;    /* Soft navy blue */
  --primary-yellow: #FF8A34;    /* Orange */
  --primary-cream: #FDE4EA;
  
  color-scheme: light;
  color: #242424;
  background-color: var(--primary-cream);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 
a {
  font-weight: 500;
  color: var(--primary-dark);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-medium);
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--primary-cream);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-medium);
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.2s;
}
button:hover {
  background-color: var(--primary-dark);
  color: white;
  border-color: var(--primary-dark);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */
